<div class="instructors clearfix">
  {% for instructor in site.data.staff.Instructors %}
  <div class="instructor-profile-two-col">
    {% if instructor.image %}
      {% assign profile_image_path = instructor.image | prepend: 'assets/img/' %}
        {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
      {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
  30vw, 95vw"{% endcapture %}
      {%
        include figure.liquid loading="eager" path=profile_image_path class=profile_image_class style="width: 150px; height: 150px;" sizes=sizes alt=page.profile.image
        cache_bust=true
      %}
    {% endif %}
    <ul class="instructor-info">
      <li><span>Instructor</span> <a href="{{ instructor.url }}" target="_blank">{{ instructor.name }}</a></li>
      <li><span>Email:</span> <a href="mailto:{{ instructor.email | encode_email }}" target="_blank">{{ instructor.email }}</a></li>
      <li><span>Office hours:</span> {{ instructor.office-hours }}</li>
    </ul>
  </div>
  {% endfor %}
</div>
